@import "tailwindcss";
@plugin "daisyui" {
	themes: night --default, light, dark, coffee, nord  
}

@theme {
	--color-softbg: #EEEEEE;
	--color-softtext: #101010;
	--color-levelbg: #202020;
	--color-listbg: #111111;
}

a {
	text-decoration: underline;
	font-weight: bold;
}